.App {
  text-align: center; }

.App-logo {
  flex-basis: 100%;
  height: 80px; }

.App-header {
  height: 230px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%; }

.App-header h2 {
  text-align: center;
  font-size: 1.5rem;
  margin: 0; }

.fa {
  padding: 0 10px; }

.App-intro {
  font-size: large; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 150px;
  width:100%;
  background-color:#130f00;
}

ul {
  align-self: flex-end;
  padding: 10px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}